Django==4.2.7
djangorestframework==3.17.1
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
django-extensions==3.2.3
channels==4.0.0
channels-redis==4.1.0
daphne==4.0.0
psycopg2-binary==2.9.9
Pillow==10.1.0
reportlab==4.0.7
openpyxl==3.1.5
requests==2.32.3
drf-nested-routers==0.95.0
gunicorn==21.2.0
python-dotenv==1.0.0
pytest==7.4.4
pytest-django==4.7.0
pandas
numpy
joblib
scikit-learn
imbalanced-learn